<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema_de_Prácticas_Profesionales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sistema_de_Prácticas_Profesionales.Properties.Settings>
            <setting name="tipoUsuario" serializeAs="String">
                <value />
            </setting>
        </Sistema_de_Prácticas_Profesionales.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add connectionString="Data Source=Dltunas;Initial Catalog=BaseDeDatos;Integrated Security=True" name="SqlConnection"/>
    <add connectionString="Server=localhost;Database=BaseDeDatos;User Id=UserTest01;Password=userpassword01;" name="ConnectionToSQL"/>
    <add connectionString="Server=localhost;Database=serviciosocial;Integrated Security=true" name ="ConectionSqlServer"/>
  </connectionStrings>
</configuration>